##################################################
# Set line endings to OSX
##################################################
* text eol=lf

##################################################
# Jupyter Notebook Settings
##################################################
*.ipynb binary

##################################################
# Treat these files as binary
##################################################
.terraform.lock.hcl -diff
*.png binary
*.tiff binary
