##################################################
# Llama.cpp files
##################################################
main.*.log

##################################################
# Local configuration
##################################################
envsetup.sh
